.App {
  text-align: center;
  margin: 5px;
  border-color: black;
  border-style: ridge;
  border-width: 1px;
  padding: 5px;
}

#title {
  font-size: calc(10px + 2vh);
  height: (10px + 4vh);
  background-color: black;
  color: white;
}

#result {
  text-align: left;
  text-decoration: solid;
}